<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Thermometer</title>
</head>
<body>
    <h1>Web Thermometer</h1>
    <hr>
    <br>
    <a href="/log">Thermo sensor reader log</a><br>
    <a href="/summary">Summary of temperature data</a><br>
    <a href="/current">Current temperature data</a><br>
    <a href="/datapoint/1">Last data point for sensor 1</a><br>
    <a href="/datapoints/1">All data points for sensor 1</a><br>
    <a href="/datapoints/today/1">All data points for sensor 1 from today</a><br>
    <a href="/todaychart">Chart for today</a><br>
</body>
</html>